<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <canvas id="myChart"></canvas>
    <script>
        function sumOfList(list){
            let sum = 0.0;
            for(var i = 0; i < list.length; i++){
                sum += list[i];
            }
            let newList = []
            for(let j = 0; j < list.length; j++){
                let temp = Math.round(list[j] * 100.0);
                let temp2 = ((1.0 * temp) / 100.0) / sum;
                let temp3 = temp2.toFixed(2);
                newList.push(Math.floor(temp3 * 100));
            }
            return newList;
        }

        // Returns the key associated with the value
        function findKey(value, categories){
            for(const key of categories.keys()){
                if(categories[key].includes(value)){
                    return key;
                }
            }
            return null;
        }

        /*
        Each arr is an array of objects, containing information on the purchases, deposits, or Bills
        Categories is a map, that is used only for the arrPurchases
        Returns:

        */
        function handleData(arrPurchases, arrBills, arrDeposits){ // arr is an array of objects, categories is a dictionary
            const amt = "amount"; //Purchases and Deposits Use Amount
            const amt2 = "payment_amount"; // Bills use payment_amount
            const purch = "merchant_id"; // Purchases use merchant_id
            const bill = "payee"; // Bills use payee
            const categories = JSON.parse(localStorage.getItem('categories'));

            let overallMap = new Map();
            for(let i = 0; i < arrBills.length; i++){
                let dict = arrBills[i];
                let type = dict[bill];
                if(type == "Credit Card"){
                    continue;
                }
                if(!overallMap.has(type)){
                    overallMap.set(type, dict[amt2]);
                }
                else{
                    overallMap.set(type, overallMap.get(type) + dict[amt2]);
                }
            }
            let depositTotal = 0.0;
            for(let i = 0; i < arrDeposits.length; i++){
                let dict = arrDeposits[i];
                depositTotal += dict[amt];
            }

            for(let i = 0; i < arrPurchases.length; i++){
                let dict = arrPurchases[i];
                let type = dict[purch];
                let findKey2 = findKey(type, categories);
                if(findKey2 == null){
                    continue;
                }
                if(!overallMap.has(findKey2)){
                    overallMap.set(findKey2, dict[amt]);
                }
                else{
                    overallMap.set(findKey2, overallMap.get(type) + dict[amt]);
                }
            }
            overallMap.set("Deposits", depositTotal);

            return overallMap;

            // let billMap = new Map();
            // for(let i = 0; i < arrBills.length; i++){
            //     let dict = arrBills[i];
            //     let type = dict[bill];
            //     if(type == "Credit Card"){
            //         continue;
            //     }
            //     if(billMap.get(type) == null){
            //         billMap.set(type, dict[amt2]);
            //     }
            //     else{
            //         billMap.set(type, billMap[type] + dict[amt2]);
            //     }
            // }

            // let depositTotal = 0.0;
            // for(let i = 0; i < arrDeposits.length; i++){
            //     let dict = arrDeposits[i];
            //     depositTotal += dict[amount];
            // }

            // let purchaseMap = new Map();
            // for(let i = 0; i < arrPurchases.length; i++){
            //     let dict = arrPurchases[i];
            //     let type = dict[purch];
            //     let findKey2 = findKey(type, categories);
            //     if(findKey2 == null){
            //         continue;
            //     }
            //     if(billMap.get(findKey2) == null){
            //         billMap.set(findKey2, dict[amt]);
            //     }
            //     else{
            //         billMap.set(findKey2, purchaseMap[type] + dict[amt2]);
            //     }
            // }

        }

        const ctx = document.getElementById("myChart").getContext("2d");
        const myChart = new Chart(ctx, {
            type: "pie",
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: sumOfList([12, 19, 3, 5, 2, 3]),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                // scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                // }
            }
        });
    </script>
</body>
</html>

